<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login node</title>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h1><span>Login or Register</span></h1>
        <a href="/login" class="btn btn-primary btn-lg">Local Login</a>

        <a href="/signup" class="btn btn-primary btn-lg">Local Signup</a>
      </div>
    </div>
  </div>
  <% include ('./partials/footer.ejs') %>
</body>

</html>