<div class="jumbotron mt-4 text-white">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum culpa inventore
    eveniet eligendi, expedita sint praesentium necessitatibus quos doloribus
    sit animi. Minima ex, tempore molestias sed exercitationem facere illo
    totam.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
    exercitationem rem iusto rerum aut maxime accusamus. Amet reprehenderit
    ratione aliquam eius. Debitis error possimus veritatis numquam, consequatur
    quo in facilis.</p>
  <a href="#" target="_blank" role="button" class="btn btn-primary btn-lg">Mi
    app</a>
</div>